@model List<Student>
@{
    ViewData["Title"] = "Students";
}


<div class="text-center">
    <h1 class ="display-4">List Of Students</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Student First Name</th>
                <th>Student Last Name</th>
            </tr>
        </thead>
        <tbody>
                        
            @foreach (var student in Model)
            {

               <tr>
                  <td>@student.StudentId</td>
                  <td>@student.StuFirstName</td>
                  <td>@student.StuLastName</td>
            </tr>

            }
        </tbody>
    </table>

 </div>

@*<tr>
    <td>221</td>
    <td>Bing</td>
    <td>Williams</td>
    <td>bingwill@yuyu.cu</td>
    <td>111-222-3333</td>
</tr>
<tr>
    <td>222</td>
    <td>Phil</td>
    <td>Bong</td>
    <td>philbo@yuyu.cu</td>
    <td>111-333-4444</td>
</tr>*@







