@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Rad University</h1>
    <h5>Thank you for visiting Rad University. 
        Visit our Create page to start a new course,
        Use the Enroll page to register as a student,
        Or click the Teach tab to register as a Professor.
        </h5>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
